.main {
    background-image: url("../images/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    text-align: center;
    color: antiquewhite;
}
.parag2 {
    background-image: url("../images/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 50vh;
    text-align: center;
    color: antiquewhite;
}
.about-us{
    text-align: center;
}