.main {
    background-image: url( ../images/h_img.jpg);
    height: 70vh;
    text-align: center;
    color: antiquewhite;
    background-size: cover;
}
.about-us{
    text-align: center;
    font-size: large;
    font-weight: 200;
    font-family: sans-serif;
}
.services{
    text-align: center;
    font-size: large;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../images/s_image.jpg);
    background-size: cover;
    height: 50vh;
    color: antiquewhite;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 10%;
    
}
#product, #development, #design{
    display: none;
    font-family: 'Copse', serif;
    font-size: 16px;
  }
