.main {
    background-image: url("../images/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
.parag2 {
    background-image: url("../images/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 50vh;
    text-align: center;
    color: antiquewhite;
}
.main{
    text-align: center;
    color: aliceblue;
}
.paragraph{
    text-align: center;
}
.portfolio{
    height: 20vh;
    display: inline;
    text-align: center;
    justify-content: space-around;
    
}
.icons {
    position: relative;
    width: 50%;
    display: inline;
    row-gap: 100px;
  }
  
  .contacts{
      background-image: url("../images/c_image.jpg")
      background-repeat: no-repeat;
  }